<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Pokédex</title>

	<meta name="description" content="Source code generated using layoutit.com">
	<meta name="author" content="LayoutIt!">

	<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

</head>

<body id="fondo">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 titulo">
				<div class="spacer5"></div>
				<h1 class="rojoO text-center" id="conf">
					Title
				</h1>
			</div>
		</div>

		<form role="form" action='/poke' method="post">
			<div class="row margen">

				<div class="col-md-1">
					<div class="spacer5"></div>
					<div class="dropdown">
						<div class="form-group">
							<label for="sel1">Generación</label>
							<select class="form-control" id="sel1" name="gen">
								<option value="-1">Todas</option>
								<option value="1">Gen1</option>
								<option value="2">Gen2</option>
								<option value="3">Gen3</option>
								<option value="4">Gen4</option>
								<option value="5">Gen5</option>
								<option value="6">Gen6</option>
								<option value="7">Gen7</option>
							</select>
						</div>
					</div>
				</div>

				<div class="col-md-1">
					<div class="spacer5"></div>
					<div class="dropdown">
						<div class="form-group">
							<label for="sel1">Tipo</label>
							<select class="form-control" id="sel1" name="tipo">
								<option value="-1">Todos</option>
								<option value="steel">Acero</option>
								<option value="water">Agua</option>
								<option value="bug">Bicho</option>
								<option value="dragon">Dragón</option>
								<option value="electric">Eléctrico</option>
								<option value="ghost">Fantasma</option>
								<option value="fire">Fuego</option>
								<option value="fairy">Hada</option>
								<option value="ice">Hielo</option>
								<option value="fighting">Lucha</option>
								<option value="normal">Normal</option>
								<option value="grass">Planta</option>
								<option value="psychic">Psíquico</option>
								<option value="rock">Roca</option>
								<option value="dark">Siniestro</option>
								<option value="ground">Tierra</option>
								<option value="poison">Veneno</option>
								<option value="flying">Volador</option>
							</select>
						</div>
					</div>
				</div>

				<div class="col-md-1">
					<div class="spacer5"></div>
					<div class="dropdown">
						<div class="form-group">
							<label for="sel1">Orden</label>
							<select class="form-control" id="sel1" name="orden">
								<option value="1">Ascendente</option>
								<option value="-1">Descendente</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="spacer5"></div>
					<div class="form-group">
						<label for="sel1">Legendario</label>
						<select class="form-control" id="sel1" name="legendario">
							<option value="1">Sí</option>
							<option value="-1">No</option>
						</select>
					</div>
				</div>
				<input type="submit" value="Buscar">
		</form>
	</div>

	<div class="row ">
		<div class="col-md-4 ">
			<div class="spacer5"></div>
			<div class="table-wrapper-scroll-y my-custom-scrollbar">
				<p>
					<form name="rowForm" role="form" action='/row' method="post">
						<table class="table table-hover " id="pokemonTable">
							<thead class="azulO">
								<tr>
									<th scope="col">#</th>
									<th scope="col">Pokémon</th>
									<th scope="col">Generación</th>
								</tr>
							</thead>
							<tbody>
								<% for (var i = 0; i < datos.length; i++ ) { %>
								<tr id="here" onclick="submitJS(this)">

									<td><%= datos[i].pokedex_number %></td>
									<td><%= datos[i].name %> </td>
									<td><%= datos[i].generation %></td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</form>
				</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="spacer5"></div>
			<img class="img-responsive mx-auto rounded d-block margin-top: 100px" id="foto" src=<%=currentImage%>>
		</div>

		<div class="col-md-4  card negro ">
			<div class="spacer5"></div>
			<h3 class="text-center " id="nombre">
				<%= datos[rowId].name %> <br>
				(<%= datos[rowId].japanese_name %>)
			</h3>
			<p id="detalles">
				Habilidades: <%= datos[rowId].abilities %> <br>
				Altura: <%= datos[rowId].height_m %> <br>
				Peso: <%= datos[rowId].weight_kg %> <br>
				Tipos: <%= datos[rowId].type1 %> / <%= datos[rowId].type2 %>

			</p>
		</div>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<script>
		function submitJS(x) {
			//alert("Row index is: " + x.rowIndex);
			//location.reload();

			var input = document.createElement("input");

			input.setAttribute("type", "hidden");

			input.setAttribute("name", "rowId");

			input.setAttribute("value", x.rowIndex);

			document.getElementById("here").appendChild(input);

			document.rowForm.submit();
		}
	</script>

	<script>
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				myFunction(this);
			}
		};
		xmlhttp.open("GET", "configuracion_pokedex.xml", true);
		xmlhttp.send();
		function myFunction(xml) {
			var xmlDoc = xml.responseXML;
			var titulo = xmlDoc.getElementsByTagName("titulo")[0];
			var color = xmlDoc.getElementsByTagName("color")[0];
			document.getElementById("conf").innerHTML = titulo.childNodes[0].nodeValue;
			document.getElementById("fondo").setAttribute("style", color.childNodes[0].nodeValue);
		}
	</script>

</body>

</html>